## Application specific settings
SamsLife/appsettings.json
SamsLife/Properties/launchSettings.json

## .NET Build outputs
[Oo]bj/
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
msbuild.log

## Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Azure Functions
local.settings.json
.python_packages/

## MSBuild Binary Log
*.binlog

## NuGet
*.nupkg
packages/
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Rider
.idea/
*.sln.iml

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## Miscellaneous
.DS_Store
Thumbs.db